	<div id="base-panel">
		<div id="post_list_top">
			<div id="avatar">

			</div>
			<div id="menu">
				<button type="button" class="btn btn-default navbar-btn">
					<%= link_to "Create Post", '#'%>
				</button>
			</div>
		</div>
		<ul id="post-list" class="nav nav-pills nav-stacked">
			<li class="post-entry"> 
				<%= link_to "Posts", '#'%> 
			</li>
		</ul>
	</div>